#container{
    width: 1200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    width: 1200px;
    height: 50px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
#content{
    width: 1200px;
    height: 200px;
    background-color: aquamarine;
}
#footer{
    width: 1200px;
    height: 50px;
    background-color: blue;
}    
#left{
    width: 350px;
    height: 200px;
    background-color: blueviolet;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
}
li{
    display: block;
    height: 200px;
    width: 350px;
    float: left;
    margin-left: 1px;
    background-color: black;
    line-height: 200px;
    text-align: center;
}
li:hover{
    color: black;
    background-color: white;
} 
#right{
    width: 350px;
    height: 200px;
    background-color: brown;
    float: right;
}
#initial{
    width: 500px;
    height: 200px;
    background-color: burlywood;
    float: right;
}
a{
    text-decoration: none;
    color: white;
}
li{
    display: block;
    height: 50px;
    width: 230px;
    float: left;
    margin-left: 1px;
    background-color: black;
    line-height: 50px;
    text-align: center;
}
li:hover{
    color: black;
    background-color: white; 
}